<!DOCTYPE html>
<html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  	<title>Eskimo Twins</title>
  	<%= stylesheet_link_tag    "application", :media => "all" %>
  	<%= javascript_include_tag "application" %>
  	<%= csrf_meta_tags %>

  	<meta name="generator" content="RapidWeaver">
</head>
<body>

<%= yield %>

</body>
</html>